[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
coverage = "*"
mock = "*"
pytest-mock = "*"

[packages]
mando = ">=0.3,<0.4"
colorama = ">=0.3,<0.4"
flake8-polyfill = "*"
